<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiqiao.mapper.SectionMapper">
	<select id="selectSectionById" parameterType="int" resultMap="sectionResult">	
		SELECT 
			section.id as section_id,
			section.name as section_name,
			section.description as section_description,
			section.createtime as section_createtime,   
			section.sortnum as section_sortnum,
			section.state as section_state,
			board.id as board_id,
			board.name as board_name,
			board.description as board_description		
		FROM qiqiao_section as section
		LEFT JOIN qiqiao_board as board 
		ON section.id = board.sectionid
		WHERE section.id = #{sectionid}
	</select>
	
	<select id="selectSectionAll" resultMap="sectionResult">
		SELECT 
			section.id as section_id,
			section.name as section_name,
			section.description as section_description,
			section.createtime as section_createtime,   
			section.sortnum as section_sortnum,
			section.state as section_state,
			board.id as board_id,
			board.name as board_name,
			board.description as board_description		
		FROM qiqiao_section as section
		LEFT JOIN qiqiao_board as board 
		ON section.id = board.sectionid
	</select>
	
	<resultMap type="Section" id="sectionResult" >
		<id property="id" column="section_id"/>
		<id property="name" column="section_name"/>
		<id property="description" column="section_description"/>
		<id property="createTime" column="section_createtime"/>
		<id property="sortNum" column="section_sortnum"/>
		<id property="state" column="section_state"/>
		<collection property="boards" ofType="Board" resultMap="boardResult" columnPrefix="board_"/>	
		
	</resultMap>
	
	<resultMap type="Board" id="boardResult">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="description" column="description"/> 
	</resultMap>
</mapper>
