<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 其他配置 -->
	<property name="hibernate.show_sql">false</property>
	<property name="hibernate.format_sql">false</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	
	<!-- 
	<property name="current_session_context_class">org.springframework.orm.hibernate3.SpringSessionContext</property>
	 -->
 	
	<!-- 导入映射配置 -->
	<mapping resource="classpath:biz/hibernate-mapper/Attach.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Board.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Privilege.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Reply.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Role.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Section.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/Topic.hbm.xml" />
	<mapping resource="classpath:biz/hibernate-mapper/User.hbm.xml" />
	
</session-factory>
</hibernate-configuration>